/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-background-color: lightblue;
}

.background {
	-fx-background-image: url("bgScene.png");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.background_instructions {
	-fx-background-image: url("instructionsBG.png");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.background_about {
	-fx-background-image: url("aboutBG.png");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.instruction_btn {
	-fx-font-size: 18px;
    -fx-font-family: 'Verdana';
    -fx-background-color: linear-gradient(to bottom, #6a5acd, #836fff);
    -fx-text-fill: white;
    -fx-border-color: #483d8b;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
	
}

.start_btn {
	-fx-font-size: 18px;
    -fx-font-family: 'Verdana';
    -fx-background-color: linear-gradient(to bottom, #199e32, #19802d);
    -fx-text-fill: white;
    -fx-border-color: #483d8b;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
	
}

.about_btn {
	-fx-font-size: 18px;
    -fx-font-family: 'Verdana';
    -fx-background-color: linear-gradient(to bottom, #242dd6, #373ca6);
    -fx-text-fill: white;
    -fx-border-color: #483d8b;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
	
}